button {
    background: transparent;
    border: none;
    width: fit-content;
    height: fit-content;
    outline: none;
    cursor: pointer;
}

input {
    width: fit-content;
    height: fit-content;
    border: none;
    outline: none;
}